
#container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
#container div span{
    color: red;
    font-size: 15px;
}
#container div img{
    width: 600px;
}
@media screen and (max-width: 900px){
    #container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        width: 90%;
        margin: auto;
        text-align: center;
    }
    #container div img{
        width: 400px;
    }
    }

#mid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
#mid_container div img{
    width:450px ;
}
#mid_container div h3 span{
    color:black;
    font-size: 15px;
}
#mid_container div  span{
    color: red;
    font-size: 15px;
}
@media screen and (max-width: 900px){
    #mid_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin: auto;
        text-align: center;
    }
    #mid_container div img{
        width: 400px;
    }
    #mid_container div h3 span{
        margin-right:2.25em
    }
}
#poster{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
#poster div span{
    color: red;
    font-size: 15px;
}
#poster div img{
    width: 700px;
}
#poster div button{
    margin-top: 10px;
    margin-right: 140px;
    padding: 10px 50px;
    border-radius: 7px;
    border: 1px solid black;
}
@media screen and (max-width: 900px){
    #poster{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        width: 90%;
        margin: auto;
        text-align: center;
    }
    #poster div img{
        width: 400px;
    }
    }

